.navbar {
  grid-area: nav;
  background-color: #15202b;
  height: 100vh;

}

.navbar span {
  justify-content: center;
  align-items: center;
  height: 30px;
  font-size: x-large;
  padding: 25px; /* Add some padding */
  list-style: none;
}

.navbar a {
  /* background-color: #1a83ff; Grey background color */
  color: rgb(255, 255, 255); /* Black text color */
  text-decoration: none; /* Remove underline from links */
  display: flex; /* Make the links appear below each other */
  align-items: center;
}

.navbar a:hover {
  background-color: #192734;
  border-radius: 30px;
}
