.navbar {
  grid-area: nav;
  background-color: #1a83ff;
  height: 100vh;
}

.navbar span {
  justify-content: center;
  align-items: center;
  height: 30px;
  font-size: x-large;
  padding: 25px; /* Add some padding */
  list-style: none;
}

.navbar a {
  /* background-color: #1a83ff; Grey background color */
  color: black; /* Black text color */
  text-decoration: none; /* Remove underline from links */
  display: flex; /* Make the links appear below each other */
  align-items: center;
}

.navbar a:hover {
  background-color: #5ba4f8; 
}
