.profile-card {
    display: grid;
    grid-template-columns: 0.3fr 2fr;
    padding: 10px;
    border: 1px solid rgba(136,153,166, 0.2);
    background-color: #15202b;
}

.profile-card img {
    grid-column: 1;
    justify-self: center;
}

.profile-card p {
    text-decoration: none;
}

.info {
    grid-column: 2/3;
    justify-self: start;
    align-self: start;
}

.name {
    margin: 0%;
    margin-top: 5%;
}

.username {
    margin: 0%;
    color: #8899a6;
    text-decoration: none;
}

.bio {
    margin: 0%;
    margin-bottom: 9%;
}

.nav-links {
    grid-row: 3;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.follow-button {
    color: #1da1f2;
    border: 1px solid #1da1f2;
    background-color: #192734;
}

.follow-icon {
    fill: #1da1f2
}

.following-button {
    background-color: #1da1f2;
    border: none;
}

.follow-button:hover{
    background-color: rgba(29, 161, 242, 0.1);
}

.following-icon {
    fill: white;
}

.following-button:hover {
    background-color: red;
}

.following-button:hover span{
    display: none;
}

.following-button:hover:before{
    content:"Unfollow";
}

.profile-card button {
    font-size: 1.2em;
    padding: 2px 15px;
    border-radius: 15px;
}



.username:hover {
    text-decoration: underline;
}

.name:hover {
    text-decoration: underline;
}



.nav-links a {
    text-decoration: none;
    justify-self: center;
    color: #8899a6;
}

.nav-links a:hover {
    text-decoration: underline;
}

.profile-card:hover {
    background-color: #192734; 
}