.welcome {
  grid-area: sub;
  background-color: #15202b;
  height: 100vh;

}

.welcome button {
  background-color: #15202b;
  display: block; /* Make the links appear below each other */
  padding: 25px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  font-size: large;
}

.welcome h3 {
  display: block; /* Make the links appear below each other */
  padding: 25px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  font-size: large;
}



.nav-link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;
  color: white;
}

.nav-link-button:hover,
.nav-link-button:focus {
  text-decoration: none;
  background-color: #192734; 
  border-radius: 30px;
}