.welcome {
    grid-area: sub;
    background-color: #1a83ff;
    height: 100vh;

}

.welcome a {
  background-color: #1a83ff; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 25px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  font-size: x-large;
}

.welcome a:hover {
  background-color: #5ba4f8; 
}
